# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS files
.aws/

# Build / output folders
dist/
build/

# Supabase local config (if any)
.supabase/

# Temporary files
*.tmp
